body { background: white url(Images/bg.png) repeat; margin: 0; padding: 0; /* added by ADW */ font-family: Arial; color: #494949; }

img { border: none; }
h1 { margin: 0; padding: 0; font-weight: normal; font-family: Minion; }
h2 { margin: 0; font-weight: normal; font-family: Minion; /* added by ADW */ color: #6d5c33; padding-bottom: 20px; }
h3 { margin: 0; padding: 0; font-weight: normal; font-family: Minion; }
h4 { margin: 0; padding: 0; font-weight: normal; font-family: Minion; }
h5 { margin: 0; padding: 0; font-weight: normal; }
p { margin: 0; padding: 0; }
a { font-family: Arial; color: inherit; font-weight: inherit;}

input { font-family: Arial; margin: 0; }
textarea { font-family: Arial; margin: 0; }

div.HeaderFrame { width: 100%; height: 194px; background: url(Images/top-texture2.png) repeat-x; }
div.Header { width: 980px; height: 140px; margin: 0 auto 0 auto; position: relative; }
div.Header div.Logo { width: 232px; height: 78px; position: absolute; top: 30px; left: 0; }
div.Header div.Logo img { width: 232px; height: 78px; }
div.Header div.TagLine { width: 450px; height: 68px; position: absolute; top: 43px; left: 250px; }
div.Header div.TagLine h4 { font-size: 25px; line-height: 28px; color: #5a471b; font-style: italic; }
div.Header div.LoginTab { width: 182px; height: 23px; position: absolute; top: 0; left: 790px; padding: 7px 8px 0 0; font-size: 12px; text-align: right; background: url(Images/login-tab.png) no-repeat; }
div.Header div.LoginTab a { text-decoration: none; }
div.Header div.LoginTab a:hover { text-decoration: underline; }
div.Header div.LoginTab a.Login { color: #808080; margin-right: 5px; }
div.Header div.LoginTab a.Cart { color: #bcb33c; background: url(Images/shopping-cart-icon.png) no-repeat left; padding-left: 20px; }
div.Header div.QuickSearch { width: 210px; height: 70px; position: absolute; top: 70px; left: 770px; white-space: nowrap; }
div.Header div.QuickSearch h3 { width: 210px; color: #a8a030; font-size: 20px; }
div.Header div.QuickSearch input[type='text'] { width: 139px; font-size: 11px; color: #808080; }

div.SiteFrame { width: 980px; margin: 0 auto 0 auto; position: relative; }

div.Nav { width: 980px; margin-top: -54px; }
div.Nav div.TopLine { width: 980px; height: 4px; background: url(Images/top-nav-divider.png) no-repeat; }
div.Nav div.Links { width: 980px; height: 34px; margin-top: 13px; }
div.Nav div.Links a { float: left; padding-bottom: 6px; font-family: Minion; font-size: 16px; text-transform: uppercase; letter-spacing: 1px; margin-right: 30px; color: #5a471b; text-decoration: none; }
div.Nav div.Links a:hover { color: #00788a; }
/* added by ADW */ ul.primary-links li.first a { margin-left: 85px !important; }
div.Nav div.Links a.active { border-bottom: solid 10px #dbd79e; }
div.Nav div.Social { float: right; margin-top: 11px; }
/*added by ADW*/ div.Nav div.Social div.fb-like { float: right; width: 81px; height: 20px; margin-left: 5px; }
/*added by ADW*/ div.Nav div.Social div.twitter { float: right; width: 20px; height: 20px; }
div.Nav div.BtmLine{ width: 980px; height: 1px; background: url(Images/wide-div.png) no-repeat; clear: both; }

div.Content { width: 980px; position: relative; }

div.LeftColFront { float: left; margin-left: -5px; width: 185px; padding: 20px 0 20px 0; }
div.LeftColFront h3 { width: 161px; height: 28px; color: #9e6614; letter-spacing: 1px; text-transform: uppercase; font-size: 13px; padding: 10px 0 0 24px; margin-bottom: 15px; background: url(Images/banner-column-header.png) no-repeat; white-space: nowrap; }
div.LeftCol { float: left; margin-left: -5px; width: 185px; border-right: solid 3px #c1b501; padding: 20px 0 20px 0; }
div.LeftCol h3 { width: 161px; height: 28px; color: #9e6614; letter-spacing: 1px; text-transform: uppercase; font-size: 13px; padding: 10px 0 0 24px; margin-bottom: 15px; background: url(Images/banner-column-header.png) no-repeat; white-space: nowrap; }

div.LeftColContent { margin: 0 10px 0 15px; font-size: 13px; font-family: Minion; }
div.LeftColContent a { color: #407bd2; text-decoration: underline; }


div.MidCol { float: left; width: 700px; padding: 20px; }
div.MidColFront { float: left; width: 568px; padding: 20px; background: url(Images/bg-front.png) repeat-y; }
div.MidColFront div.Line { width: 547px; height: 1px; margin: 20px auto 20px auto; clear: both; background: url(Images/middle-column-divider.png) no-repeat; }
div.MidCol#Wide { width: 753px; padding-left: 0; background-position: right top; background: none; }
div.MidCol div.Line { width: 547px; height: 1px; margin: 20px auto 20px auto; clear: both; background: url(Images/middle-column-divider.png) no-repeat; }
div.MidCol div.Line#ExtraPad { margin-top: 40px; margin-bottom: 40px; }
div.MidCol div.Line#Wide { width: 750px; background: url(Images/two-column-horizontal-thin-divider2.png) no-repeat; }
div.MidCol div.Line#WideExtraPad { width: 750px; margin-top: 40px; margin-bottom: 40px; background: url(Images/two-column-horizontal-thin-divider2.png) no-repeat; }
div.MidCol div.Line#ThickWide { width: 750px; height: 4px; background: url(Images/two-column-horizontal-thick-divider2.png) no-repeat; }
div.MidCol div.Line#ThickWideExtraPad { width: 750px; height: 4px; margin-top: 40px; margin-bottom: 40px; background: url(Images/two-column-horizontal-thick-divider2.png) no-repeat; }

div.MidColContent { font-size: 13px; }
div.MidColContent h1 { color: #5a471b; font-size: 28px; margin-bottom: 15px; }
div.MidColContent h2 { color: #5a471b; font-size: 28px; margin-bottom: 15px; }
div.MidColContent h3 { font-size: 16px; color: #9e6614; text-transform: uppercase; margin-bottom: 15px; }
div.MidColContent a { color: #407bd2; text-decoration: none; font-weight: normal; font-family: Minion; }
div.MidColContent p { font-family: Minion; font-size: 16px; color: #555555; line-height: 21px; margin-bottom: 15px; }

div.RightColFront { float: right; width: 186px; padding: 20px 0 20px 0; }
div.RightColFront h3 { width: 167px; height: 28px; color: #9e6614; letter-spacing: 1px; text-transform: uppercase; font-size: 13px; padding: 10px 0 0 19px; margin-bottom: 15px; background: url(Images/banner-column-header-right.png) no-repeat; white-space: nowrap; }
div.RightCol { float: right; width: 186px; border-left: solid 3px #c1b501; padding: 20px 0 20px 0; }
div.RightCol h3 { width: 167px; height: 28px; color: #9e6614; letter-spacing: 1px; text-transform: uppercase; font-size: 13px; padding: 10px 0 0 19px; margin-bottom: 15px; background: url(Images/banner-column-header-right.png) no-repeat; white-space: nowrap; }

div.RightColContent { margin: 0 15px 0 10px; font-size: 13px; }
div.RightColContent a { color: #407bd2; text-decoration: underline; }

div.FooterFrame { width: 100%; height: auto; clear: both; }
div.FooterFrame div.Divider { width: 100%; height: 9px; background: url(Images/footer-divider.png) repeat-x; }

div.Footer { width: 980px; margin: 20px auto 0 auto; position: relative; }
div.Footer p { font-family: Minion; font-size: 13px; color: #5a471b; line-height: 14px; margin-bottom: 5px; }
div.Footer p.Location { margin-bottom: 10px; font-weight: bold; }
div.Footer a { color: #5a471b; }
div.Footer div.Social { float: right; margin-top: -2px; }
/*added by ADW*/ div.Footer div.Social div.fb-like { float: right; width: 81px; height: 20px; margin-left: 5px; }
/*added by ADW*/ div.Footer div.Social div.twitter { float: right; width: 20px; height: 20px; }

div.ColList {  margin: 0 10px 0 15px; line-height: 16px; }
div.ColList h4 { font-size: 15px; color: #9e6614; }
div.ColList h4 a { text-decoration: none; color: #9e6614; }
div.ColList h4 a:hover { text-decoration: underline; }
div.ColList h5 { font-family: Arial; font-size: 13px; color: #9e6614; }
div.ColList p { font-family: Arial; font-size: 12px; color: #8c8c8c; }
div.ColList div.Line { height: 1px; background: #c4c4c4; margin: 15px 0 15px 0; clear: both; }

div.BookList { clear: both; }
div.BookList div.Item { float: left; width: 150px; margin-right: 40px; }
div.BookList div.Item#Last { margin-right: 0; }
div.BookList div.Item img { width: 150px; }
div.BookList div.Item h4 { font-family: Arial; font-size: 16px; font-weight: bold; color: #434343; margin-top: 10px; }
div.BookList div.Item h5 { font-size: 14px; color: #6d5c33; }
div.BookList div.Item p { margin-top: 5px; color: #898989; font-size: 14px; line-height: 18px; }
div.BookList div.Item span { color: #de0101; font-weight: bold; }

div.BookResult { min-height: 170px; clear: both; }
div.BookResult img { width: 150px; float: left; margin-right: 25px; }
div.BookResult h3 { font-size: 24px; color: #5a471b; margin: 0; text-transform: none; }
div.BookResult h3 a { color: #5a471b; text-decoration: none; }
div.BookResult h3 a:hover { text-decoration: underline; }
div.BookResult h4 { font-family: Arial; font-size: 14px; color: #6d5c33; margin: 0; }
div.BookResult p { margin: 10px 0 10px 0; color: #878787; font-size: 14px; line-height: 18px; }
div.BookResult p span { font-weight: bold; }
div.BookResult p span.Red { color: #de0101; }
div.BookResult p.Price { font-size: 18px; }
div.BookResult p.Price span { color: #afa222; font-size: 22px; font-weight: normal; }
div.BookResult div.Btn { float: right; }
div.BookResult div.Quote { float: left; width: 564px; background: #e5e3bf; padding: 7px; font-family: Minion; font-size: 15px; color: #515151; line-height: 19px; }
div.BookResult div.Quote span { color: #5a471b; font-size: Arial; }
div.BookResult div.Social { float: right; margin-top: 6px; }
div.BookResult div.Social img { width: auto; height: 20px; }

div.EventList { clear: both; }
div.EventList img { float: left !important; margin-right: 25px; }
div.EventList h3 { font-size: 24px; color: #5a471b; margin: 0 0 5px 0; text-transform: none; }
div.EventList h3 a { color: #5a471b; text-decoration: none; }
div.EventList h3 a:hover { text-decoration: underline; }
div.EventList h4 { font-family: Arial; font-size: 18px; color: #686868; margin: 0; }
div.EventList h4 span { font-size: 14px; color: #1f569a; }
div.EventList p { margin: 5px 0 0 0; color: #5c5c5c; font-size: 16px; line-height: 20px; font-family: Minion; }
div.EventList div.Btn { float: right; width: 78px; height: 25px; }
div.EventList div.Btn img { width: 78px; height: 25px; }

div.BlogList { clear: both; }
div.BlogList img { width: 568px; margin-bottom: 15px; }
div.BlogList h4 { font-size: 26px; color: #5a471b; margin-bottom: 5px; }
div.BlogList h5 { font-size: 12px; color: #7d7d7d; margin-bottom: 15px; }
div.BlogList p { color: #555555; font-size: 16px; line-height: 20px; }

div.StaffList { clear: both; }
div.StaffList img { width: 141px; margin: 5px 25px 25px 0; float: left; }
div.StaffList h3 { font-size: 24px; color: #5a471b; text-transform: inherit; margin: 0 0 5px 0; }
div.StaffList p { color: #5c5c5c; font-size: 16px; line-height: 18px; margin-bottom: 10px; }

div.GoogleBooks { width: 136px; background: #d8d8d8; padding: 12px 12px 12px 13px; margin-left: 1em; }
div.GoogleBooks img { width: 136px; height: 136px; }
div.GoogleBooks ul { font-size: 12px; color: #797979; line-height: 16px; margin: 10px 0 0 6px; padding-left: 6px; }

div.Junior p { font-family: Minion; font-size: 18px; color: #958a1e; line-height: 20px; text-align: center; }
div.Junior img { width: 148px; height: 111px; margin-bottom: 10px; }

div.EmailSignUp { line-height: 17px; margin-left: 1em;}
div.EmailSignUp h4 { color: #5a471b; font-size: 14px; text-transform: uppercase; }
div.EmailSignUp p { color: #494949; margin: 5px 0 5px 0; font-size: 13px;}
div.EmailSignUp input[type='text'] { width: 161px; font-size: 13px; color: #808080; margin-bottom: 5px; }

div.Rewards p { font-family: Minion; font-size: 17px; color: #958a1e; line-height: 18px; text-align: center; margin-bottom: 10px; }
div.Rewards p span { color: #5a471b; font-size: 22px; font-weight: normal; line-height: 22px; }
div.Rewards img { width: 161px; margin-bottom: 10px; }

div.CrumbNav { font-size: 12px; color: #6c6c6c; line-height: 12px; }
div.CrumbNav a { color: #6c6c6c; text-decoration: none; }
div.CrumbNav a:hover { text-decoration: underline; }

.breadcrumb { font-size: 12px; color: #6c6c6c; line-height: 12px; }
.breadcrumb a { color: #6c6c6c; text-decoration: none; }
.breadcrumb a:hover { text-decoration: underline; }

#search #edit-submit { width: 60px; height: 22px; text-align: center; font-size: 12px; font-weight: bold; color: White; border: none; background: url(Images/button-gold.png) no-repeat; cursor: pointer; }

input.BtnGold { width: 110px; height: 22px; text-align: center; text-transform: uppercase; font-size: 12px; font-weight: bold; color: White; border: none; background: url(Images/button-gold-2.png) no-repeat; cursor: pointer; }
input.BtnSmGold { width: 60px; height: 22px; text-align: center; font-size: 12px; font-weight: bold; color: White; border: none; background: url(Images/button-gold.png) no-repeat; cursor: pointer; }
input.BtnSmGreen { width: 60px; height: 22px; text-align: center; font-size: 12px; font-weight: bold; color: White; border: none; background: url(Images/button-green.png) no-repeat; cursor: pointer; }

input.BtnTallGold { width: 90px; height: 32px; text-align: center; font-size: 12px; font-weight: bold; color: White; border: none; background: url(Images/button-add-to-cart.png) no-repeat; cursor: pointer; }

a.BtnGold { width: 110px; height: 17px; display: block; margin: 0 auto 0 auto; text-align: center; padding-top: 5px; text-transform: uppercase; text-decoration: none; font-size: 12px; font-weight: bold; color: White; background: url(Images/button-gold-2.png) no-repeat; }
a.BtnGold:link { color: White; text-decoration: none; }
a.BtnGold:hover { color: White; text-decoration: none; }
a.BtnGold:visited { color: White; text-decoration: none; }

a.MediaLink { color: #00788a; font-size: 12px; text-decoration: underline; }
a.MediaLink:link { color: #00788a; text-decoration: underline; }
a.MediaLink:hover { color: #00788a; text-decoration: underline; }
a.MediaLink:visited { color: #00788a; text-decoration: underline; }

div.AboutImg { float: left; width: 300px; margin-right: 25px; }
div.AboutImg img { width: 300px; margin-bottom: 20px; }
div.AboutMap { float: left; width: 350px; height: 300px; margin-right: 25px; }

div.Clear { height: 1px; clear: both; }
div.Clear10 { height: 10px; clear: both; }
div.Clear20 { height: 20px; clear: both; }
div.Clear30 { height: 30px; clear: both; }
div.Clearbig { height: 153px; clear: both; }


.Sm { font-size: 12px; }

/* Begin Augment Digital added CSS to style Drupal-specific classes*/

/* using styled Add to Cart button */ 
.add-to-cart .form-submit   { background-color: transparent; width: 90px; height: 32px; text-align: center; font-size: 12px; font-weight: bold; color: White; border: none; background: url(Images/button-add-to-cart.png) no-repeat; cursor: pointer; overflow:hidden; }

/* styling IndieCommerce book pages */ 
.abaproduct { min-height: 170px; clear: both; }
.abaproduct-image { width: 150px; float: left; margin-right: 25px; margin-bottom: 20px; margin-top: 20px; }
div.abaproduct-authors { font-family: Arial; font-size: 16px; color: #6d5c33 !important; margin-bottom: 20px; font-weight: normal; }
div.abaproduct-authors a { font-family: Arial; font-size: 16px; color: #6d5c33 !important; margin-bottom: 20px; font-weight: normal; }
.abaproduct-authors a:hover { text-decoration: underline; }
.abaproduct-related-editions-head { margin: 10px 0 10px 0; color: #878787; font-size: 16px; line-height: 18px; font-family: Minion;}
.abaproduct-related-editions-list { margin: 5px 0 5px 0; color: #878787; font-size: 16px; line-height: 14px; font-family: Minion;}
.abaproduct-related-editions { margin: 5px 0 5px 0; color: #878787; font-size: 16px; line-height: 14px; font-family: Minion;}
.abaproduct-related-editions a:hover { text-decoration: underline; }
.abaproduct-other-editions { font-size: 14px; }
.abaproduct-price { margin: 10px 0 10px 0; color: #afa222; font-size: 22px; font-weight: normal; font-family: Minion; vertical-align: top; }
.abaproduct-status { text-align: center; font-family: Arial; font-size: 10px; color: #878787; margin: 5px 0 0 0; }
.abaproduct-cart { border: none; padding-right: 100px;}
hr { width: 750px; background: url(Images/two-column-horizontal-thin-divider2.png) no-repeat; border: none; }
.abaproduct-content { width: 753px; width: 753px; padding-left: 0; background-position: right top; }
.abaproduct-body { width: 753px; width: 753px; padding-left: 0; background-position: right top; }
.abaproduct-title { font-family: Minion !important; color: #6d5c33 !important; margin-top: 20px; }
.abaproduct-title a { font-family: Minion !important; color: #6d5c33 !important; }
.abaproduct-details { color: #494949; }
.aba-search-add-to-cart-wrapper { padding-left: 16px; text-align: center; float: right; padding-right: 25px; padding-bottom: 25px;  }

/* removing Drupal default borders & style for fieldset */
fieldset { display: block; -webkit-padding-before: 0.35em; -webkit-padding-start: 0.75em; -webkit-padding-end: 0.75em; -webkit-padding-after: 0.625em; color: #5a471b; font-size: 14px; line-height: 18px; font-family: Arial; border: none; }

/* styling views */
.view-content { font-family: Minion; color: #878787; font-size: 14px; display: block; }
.view-content { line-height: 16px; font-family: Minion; }
.views-field-title { font-size: 15px; color: #9e6614; padding-bottom: 5px; }
.views-field-title a { font-size: 15px; text-decoration: none; color: #9e6614; }
.views-field-title a:hover { text-decoration: underline; }
.views-field-field-book-cover-fid img { float: left !important; padding-bottom: 20px; }
.field-field-book-cover { float: left; padding-right: 20px; padding-bottom: 20px; }

/* styling for emma signup form */
.signup { font-size: 13px; line-height: 17px; margin-left: 15px; font-family: Arial; }
.signup h4 { color: #5A471B; font: 14px trajan-pro, "Times New Roman"; font-weight: normal; letter-spacing: 1px; line-height: 30px; text-align: left; text-transform: uppercase; }
.e2ma_signup_form #e2ma_signup_form { font-family: Arial !important; width: 186px; font-family: Arial !important; }
.e2ma_signup_message #e2ma_signup_message { font-family: Arial !important; font-size: 12px; text-align: left; margin-bottom: 10px; color: #494949; margin-bottom: 10px; }
.e2ma_signup_form_label { font:12px Helvetica,sans-serif; color:#949494; float:left; text-align:left; width:70px; padding-top:5px; white-space:nowrap; }
.e2ma_signup_form_button_row { float:left; margin-top: -26px; }
.e2ma_signup_image_container { text-align:center; display: inline; }
.e2ma_signup_form_element { margin-top: 5px; }
.e2ma_signup_form input[type=text], .e2ma_signup_form textarea, .e2ma_signup_form select { border:1px solid #ccc; font-size:11px; width: 100%; }
.e2ma_signup_form textarea { height: 100px; }
.e2ma_signup_form_button_row #e2ma_signup_submit_button { background: url(Images/button-green.png) no-repeat; border: none; color: white; display: block; font-family: Arial; font-size: 12px; font-weight: bold;  height: 22px; width: 60px; text-align: center; text-decoration: none; cursor: pointer; }
.e2ma_signup_form_button_row #e2ma_signup_reset_button { display: none; }
.e2ma_signup_form_required_footnote { font-size: 10px; color: #949494; padding: 5px; margin-bottom: 10px; text-align: right; }

/* adding space to event start and end dates */
.event-nodeapi div { color: #494949; padding: 0.5em 1em 0 0; margin-top: 10px; margin-bottom: 10px; }

/* removing myriad default social links */ 
.service-links { display: none; }

/* making admin edit tab links slightly smaller */
ul.primary li a { font-size: 13px; }

/* removing superfluous default styling from book lists */
fieldset.group-book-list { border: none; background:none; }

/* styling pager */
ul.pager { height: 20px; clear: both; }
span.pager-description { float: left; font-size: 14px; color: #666666; margin-right: 10px; }
ul.pager img.ArrowL { float: left; width: 7px; height: 13px; margin: 3px 10px 0 0; }
ul.pager img.ArrowR { float: left; width: 7px; height: 13px; margin: 3px 0 0 5px; }
.item-list .pager li { padding: 0; width: 20px; height: 18px; float: left; margin: -1px 5px 0 0; padding-top: 2px; font-size: 14px; font-family:Arial; text-align: center; background: url(Images/page-dot-light.png) no-repeat; }
.item-list .pager li a { padding: 0; color: White; text-decoration: none; font-family:Arial !important; }
.item-list .pager li.pager-current { padding: 0; padding-top: 2px; background: url(Images/page-dot-dark.png) no-repeat; }

/* end Augment Digital added CSS*/

div.Founder { width: 980px; clear: both; font-family: Trajan Pro; }
div.Founder div.SubHdr { width: 980px; height: 160px; margin: 10px 0px 0px 0px; clear: both; }
div.Founder div.SubHdr div.PayTop { width: 220px; height: 140px; padding: 10px; float: left; text-align: center; }
div.Founder div.SubHdr div.FounderLogo { width: 185px; height: 160px; background: url(/sites/parnassus.indiebound.com/themes/parnassus/Images/founder-logo-sm.png) no-repeat center top; float: left; }
div.Founder div.SubHdr div.FounderMsg { width: 535px; height: 160px; padding: 0px 0px 0px 20px; float: left; }
div.Founder div.SubHdr div.FounderMsg span { font-size: 14px; color: #5a471b; text-transform: uppercase; line-height: 26px; }
div.Founder div.Row { width: 980px; color: #5a471b; font-size: 14px; clear: both; overflow: hidden; font-family: Trajan Pro; }
div.Founder div.Row#Hdr { font-size: 16px; font-weight: bold; }
div.Founder div.Row div.Reward { width: 300px; float: left; margin-left: 10px; padding: 10px 10px 10px 20px; }
div.Founder div.Row div.Level { width: 90px; float: left; padding: 10px 0px 10px 0px; font-size: 18px; color: #918467; text-align: center; font-family: Trajan Pro; }
div.Founder div.Row div.LevelAlt { width: 90px; float: left; padding: 10px 0px 60px 0px; margin-bottom: -50px; font-size: 18px; color: #918467; text-align: center; background-color: #f5f3dc; }
div.Founder div.Row div.Level#Hdr { font-size: 16px; color: #5a471b; }
div.Founder div.Row div.LevelAlt#Hdr { font-size: 16px; color: #5a471b; }
div.Founder div.Row div.LevelAlt#MtnTop { font-size: 13px; color: #5a471b; }
div.Founder div.Terms { width: 980px; }
div.Founder div.Terms p { margin: 10px; }
div.Founder div.JoinBtm { width: 980px; margin-top: 10px; }
div.Founder div.JoinBtm div.Adder { width: 660px; float: left; }
div.Founder div.JoinBtm div.PayBott { width: 220px; height: 140px; padding: 10px; float: left; text-align: center; }
div.Founder div.JoinBtm img { float: left;  }
div.Founder div.JoinBtm p { margin: 10px 0px 10px 10px; }
div.Founder h4 { font-size: 20px; color: #5a471b; margin-bottom: 5px; font-family: Trajan Pro; }
div.Founder h5 { font-size: 12px; color: #7d7d7d; margin-bottom: 15px; font-family: Trajan Pro; }
div.Founder p { color: #5a471b; font-size: 13px; line-height: 20px; }
div.Founder div.BtmLine{ position: relative; width: 980px; height: 1px; background: url(Images/wide-div.png) no-repeat; z-index: 999; clear: both; }